*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 90%;
}

.main{
    display: flex;
    flex-direction: row;
}

.sidemenu{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
